@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;800&display=swap');

/* title animation */

*{
  background-color: #eff8e2;
}

:root {
  --color-primary: #f6aca2;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
}

.main-title {
  font-family: canada-type-gibson, sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.content {
  display: flex;
  align-content: center;
  justify-content: center;
}

.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 800;
  font-size: 150px;
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  animation: shadows 1.4s ease-in infinite, move 1.4s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

/* title animation */ 


h1{
  margin: 0px; 
  font-family: 'Inter', sans-serif;
}

h2{
  font-family: 'Inter', sans-serif;
  font-size: 40px; 
  text-align: center; 
}

h3{
  font-family: 'Inter', sans-serif;
  font-size: 20px; 
  text-align: center; 
}

button:hover{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

button{
  transition: transform 0.2s; 
}

button:active{
  transform: scale(0.95); 
}


.add-new-entry{
  margin-top: 50px; 
  height: 60px; 
  color: black; 
  text-decoration: none;
}

.nav-bar{
  display: flex; 
  height: 200px; 
  gap: 50%; 
  justify-content: center; 
}

.button-container{
  justify-content: center; 
  width: 240px; 
  display: flex; 
  border-radius: 30px; 
  border: 4px solid black;
  align-items: center; 
  padding-left: 10px; 
  padding-right: 10px; 
  background-color: #ffae42; 
  cursor: pointer; 
  opacity: 0.9;
}

.button-label{
  font-size: 22px;
  font-family: 'Inter', sans-serif;
  font-weight: 800; 
  background-color: #ffae42; 
}

.fa-plus{
  padding-right: 10px; 
  background-color: #ffae42; 
}

.fa-cloud{
  padding-right: 10px; 
  background-color: #ffae42; 
}

#current-date{
  background-color: #eff8e2; 
  color:#f6aca2; 
}

.entries-box{
  border: 5px solid black;
  margin-top: 10px; 
  margin-left: 200px; 
  margin-right: 200px; 
  border-radius: 40px; 
  padding: 50px; 
}

.display-past-entry{
  margin-top: 50px; 
  height: 60px; 
  color: black; 
  text-decoration: none;
}

.entry-circle{
  height: 80px;
  width: 80px;
  background-color: #AFCBFF;
  border: 5px solid black;
  border-radius: 50%;
  display: inline-block;
}

/*----------------------------------------------------------------------------*/

#open {
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-weight: 800; 
  width: 390px; 
  margin: 0px; 
  height: 80px;
}


#center-open{
  display: flex; 
  align-items: center;
  justify-content: center;
  padding-top: 50px; 
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.3); 
  position: fixed; 
  top: 0; 
  left: 0; 
  height: 100vh; 
  width: 100vw; 
  
  display: flex; 
  align-items: center;
  justify-content: center; 
  position: fixed; 
  
  opacity: 0; 
  /* hide the modal */ 
  
  pointer-events: none; 
  /* make the button clickable */ 
  
  transition: opacity 0.3s ease; 
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1; 
}

.modal {
  background-color: #fff; 
  padding: 30px 50px; 
  border-radius: 15px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  text-align: center; 
  width: 600px; 
  max-width: 100%; 
  
  /* max-width: 100% makes sure the modal is kept inside the browser width */ 
}

.modal h1 {
  margin: 0; 
  background-color: white; 
}

.modal p {
  font-size: 14px; 
  opacity: 0.7px; 
}

.entry-box{
  border: 4px solid black;
  margin-left: 2%; 
  border-radius: 30px; 
  font-family: 'Inter', sans-serif;
  padding: 30px; 
  background-color: white;
  opacity: 0.7;
  width: 510px; 
  max-width: 100%; 
}

#close{
  border-radius: 15px; 
  border: 4px solid black;
  padding-left: 10px; 
  padding-right: 10px; 
  background-color: #ffae42; 
  height: 40px; 
  font-family: 'Inter', sans-serif; 
  font-weight: bold; 
}